%h1 Listing users

%table.table
  %tr
    %th Name
    %th Email
    %th Timezone
    %th Locale
    %th Locale
    %th Organizationid
    %th Role
    %th Customroleid
    %th Phone
    %th Verified
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td= user.timezone
      %td= user.locale
      %td= user.locale_id
      %td= user.organizationID
      %td= user.role
      %td= user.customRoleId
      %td= user.phone
      %td= user.verified
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
