<!DOCTYPE html>
<html>
<head>
  <title>ReplayQaApp</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script src="http://api.replay.io/replayio-client.min.js" data-replay-key="fba8a510-831c-489c-b44b-52b10e70ebab"></script>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Replay QA App</title>
  </head>
<body>

<%= yield %>

</body>
</html>
